<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="owin:AppStartup" value="Owin.AutoStartup.Startup, Owin.AutoStartup"/>
    <add key="owin:AutomaticAppStartup" value="true"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="owin:AutoStartupDiagnostics" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>